services:
  db:
    image: postgres:18-alpine
    container_name: url_shorter_postgres
    # restart: unless-stopped
    volumes:
      - ./tmp/db:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: postgres

  app:
    # This is for Mac M1 processors
    platform: linux/x86_64
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: development
      args:
        ARG_RAILS_ENV: development
        ARG_BUNDLE_WITHOUT: ""
    command: bundle exec puma -C config/puma.rb
    image: url_shorter:development
    container_name: url_shorter
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    env_file:
      - ./.env
    ports:
      - 3000:3000
    volumes:
      # /url_shorter is the folder created for the application in the Dockerfile
      - .:/url_shorter
    depends_on:
      - db
